@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1c1c1c;
    --text-color: #dfdfdf;
    --action-color: #12b7f5;
  }

  .warning {
    background-color: #90000080;
    border: 4px solid #df000070;
  }

  .app .logo img.light {
    display: none;
  }
  .app .logo img.dark {
    display: block;
  }

  .app .actions .action.list .list-items {
    --shadow-color: #303030;
  }
}