@media screen and (max-width: 500px) {
  .warning {
    width: calc(100% - 1.2em * 2);
    max-width: unset;
    padding: 0.8em 1em;
  }
  .warning .content {
    margin-top: 0.6em;
    font-size: 0.8em;
  }
  .warning .content p {
    margin: 0.8em 0;
  }

  .app .logo img {
    width: 200px;
    height: 200px;
  }

  .app .title h1 {
    font-size: 2.4em;
  }
  .app .title h2 {
    margin-top: 0;
    margin-bottom: 0.8em;
    font-size: 1.2em;
  }

  .app .list {
    font-size: 1em;
  }

  .app .actions {
    gap: 0.6em;
  }
  .app .actions .action {
    padding: 0.4em 1em;
    font-size: 1em;
  }
}