@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1c1c1c;
    --text-color: #dfdfdf;
    --action-color: #12b7f5;
  }

  .warning {
    background-color: #90000080;
    border: 4px solid #df000070;
  }

  .app .logo img.light {
    display: none;
  }
  .app .logo img.dark {
    display: block;
  }

  .app .actions .action.list .list-items {
    --shadow-color: #303030;
  }
}
/*
     FILE ARCHIVED ON 08:05:18 Dec 27, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:33:02 Feb 04, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.731
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.011
  esindex: 0.015
  cdx.remote: 59.071
  LoadShardBlock: 558.591 (3)
  PetaboxLoader3.datanode: 169.326 (4)
  PetaboxLoader3.resolve: 447.702 (3)
  load_resource: 89.32
*/